@font-face {
  font-family: Perfume;
  src: url('./fonts/Perfume-Classic-Demo-Version.ttf');
}

.flowers-left {
  width: 50%;
  position: absolute;
  top: -55px  ;
  left: 0;
}

nav {
  font-family: "Droid Serif", serif;
  font-size: 18px;
  position: absolute;
  top: 50px;
  left: 40%;
}

.nav-link {
  color: black;
  padding: 20px;
  text-decoration: none;
}

.nav-link:hover {
  background-size: 100% 75%;
  /*background-position-y: -23px;*/
}

.nav-link:active {
  background-size: 100% 110%;
  background-position-y: -23px;
}

.home {
  background-image: linear-gradient(to bottom, #78acee 0%, #78acee 100%);
  background-repeat: no-repeat;
  background-size: 100% 2px;
  background-position: 0 75%;
  transition: background-size 0.25s ease-in;
}

.projects {
  background-image: linear-gradient(to bottom, #a3a3d7 0%, #a3a3d7 100%);
  background-repeat: no-repeat;
  background-size: 100% 2px;
  background-position: 0 75%;
  transition: background-size 0.25s ease-in;
}

.gh {
  background-image: linear-gradient(to bottom, #ae7ba2 0%, #ae7ba2 100%);
  background-repeat: no-repeat;
  background-size: 100% 2px;
  background-position: 0 75%;
  transition: background-size 0.25s ease-in;
}

.li {
  background: linear-gradient(to bottom, #f882b9 0%, #f882b9 100%);
  background-repeat: no-repeat;
  background-size: 100% 2px;
  background-position: 0 75%;
  transition: background-size 0.25s ease-in;
}

.email {
  background: linear-gradient(to bottom, #fe8278 0%, #fe8278 100%);
  background-repeat: no-repeat;
  background-size: 100% 2px;
  background-position: 0 75%;
  transition: background-size 0.25s ease-in;
}

.title-container {
  position: absolute;
  top: 200px;
  left: 45%;
}

.title {
  font-family: "Droid Serif", serif;
  font-size: 25px;
  text-align: left;
}

h1 {
  font-family: Perfume, serif;
  font-size: 100px;
  margin: 0;
  letter-spacing: 2px;
}

.owl-carousel {
  position: absolute;
  top: 500px;
    left: 400px;
    border: 1px solid;
    padding: 50px;
    width: 50%;

}
